@page "/"

<p>Hello, @CustomToUpper(name)</p>


<button @onclick="@(() => Console.WriteLine("button clicked"))">Click Me</button>

<div>
    <h3>Movies</h3>
    @foreach (var movie in movies)
    {
        <p>Title: <b>@movie.Title</b></p>
        <p>Release Date: <b>@movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>
    }

    @for (var i = 0; i < movies.Count; i++)
    {
    <div>
        <p>Title: <b>@movies[i].Title</b></p>
        <p>Release Date: <b>@movies[i].ReleaseDate.ToString("dd MMM yyyy")</b></p>
    </div>
    }

</div>

@code
{
    List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie() {Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie() {Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie() {Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
     }


    Movie spiderman = new Movie()
    {
        Title = "Spider-Man: Far From Home",
        ReleaseDate = new DateTime(2019, 7, 2)
    };

    string name = "Devin";

    string CustomToUpper(string value) => value.ToUpper();
}
